
body{
	font-family: 'Karla', sans-serif;
}

ul,li {
	list-style: none;
}

.font-serif{
	font-family: 'DM Serif Display', serif;
	letter-spacing: 2.4px;
}

.img-intro-left{
	position: absolute;
	top:50%;
	left: 0;
}
.img-intro-right{
	position: absolute;
	top: 0;
	right:0;
}
.sp-head::before{
	content: '';
	position: absolute;
	top: 0;
	width: 130px;
	height: 1px;
	background-color: gray;
	left: 50%;
	transform: translateX(-50%);
}
@media (min-width:991px){
	.lending-page{
		height: 550px;
	}
	.sp-head::before{
		left: 0;
		transform: translateX(0);
	}
}
@media (min-width:1199px){
	.pt-10{
		padding-top: 10rem;
	}
}
.w-15{
	width: 15%;
}
.mx-w{
	max-width: 500px;
}

$dark :hsl(256, 26%, 20%);
$primary : hsl(270, 9%, 17%);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
